.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;

    .title{
        margin: 10px 0;
    }
}
form.sign-up-form{
    margin-top: -10px;
}
@media screen and (max-width:990px){
    .margin-t{
        margin-top: 50px;
    }
}
