.header {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
} 
img.logo {
  width: 215px;
  height: 70px;
}
.options {
   line-height: 70px;
  .option {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
  }
}
.option-out{
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
  }
