.login{
    
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0px;
    }
}
.buttons{
    justify-content: space-between;
    display: flex;
}

@media screen and (max-width:990px){
    .login{
       
        display: flex;
        flex-direction: column;
    }
}